body {
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
}
#board {
    text-align: center;
    padding: 3em;
}
.row {
    clear: both;
    width: 302px;
    margin: 0 auto;
}
.row div {
    float: left;
    height: 100px;
    width: 100px;
    line-height: 6;
}
.one, .two, .three {
    border-bottom: 1px solid #000;
}
.seven, .eight, .nine {
    border-top: 1px solid #000;
}
.one, .four, .seven {
    border-right: 1px solid #000;
}
.three, .six, .nine {
    border-left: 1px solid #000;
}